@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .loading-spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .loading-spinner:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #0079d3;
    border-color: #0079d3 transparent #0079d3 transparent;
    animation: loading-spinner 1.2s linear infinite;
  }
  .slider-thumb::-webkit-slider-thumb {
    @apply w-4 h-4 bg-blue-500 rounded-full appearance-none cursor-pointer;
  }

  .slider-thumb::-webkit-slider-thumb:hover {
    @apply bg-blue-700;
  }

  .tooltip {
    @apply absolute invisible;
  }

  .has-tooltip:hover .tooltip {
    @apply z-50 visible;
  }

  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .dot-elastic {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #0079d3;
    color: #0079d3;
    animation: dotElastic 1s infinite linear;
  }

  .dot-elastic::before,
  .dot-elastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .dot-elastic::before {
    left: -15px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #0079d3;
    color: #0079d3;
    animation: dotElasticBefore 1s infinite linear;
  }

  .dot-elastic::after {
    left: 15px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #0079d3;
    color: #0079d3;
    animation: dotElasticAfter 1s infinite linear;
  }

  @keyframes dotElasticBefore {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1.5);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes dotElastic {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 1.5);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes dotElasticAfter {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
